# Logs
logs
*.log
npm-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependencies
node_modules
.npm

# Cache
.eslintcache
.node_repl_history

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Environment variables
.env

# Build folders
dist
build
coverage
